.browser-page{
  width:100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.title-bar{
  width:100%;
  height:25px;
  background-color: #E8E9EB;
  flex: 0 0 auto;
}

.title-bar img {
  display: inline-block;
  max-height: 50%;
  margin-left: 20px;
}

.home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
   flex: 1 1 auto;
   width:100%
    }

  .home-page > div {
    border: 1px solid gray;
  }

.nav-pane {
    flex: 0 0 auto;
    align-self: auto;
    width: 300px;
    }

.content-pane {
    flex: 1 1 auto;
    align-self: auto;
    }
