.covers-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    font-family: Helvetica, Sans-Serif;
    font-size: 9pt;
    height:100%;
}

.tile {
  width: 150px;
  height: 225px;
  margin: 10px;
  flex: 0 0 auto;
  align-self: auto;
}

.tile .imageArea{
  position: relative;
  height: 175px;
}

 .pageCount {
  text-align: right;
  margin-right: 10px;
}

.tile .cover{
  max-width: 125px;
  max-height: 175px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.tile .title{
  text-align: center;
}
