
.tile {
  width: 150px;
  height: 225px;
  margin: 10px;
  flex: 0 0 auto;
  align-self: auto;
  border: 1px solid gray;
  border-radius: 10px;

}

.tile .imageArea{
  position: relative;
  height: 175px;
}

 .pageCount {
  text-align: right;
  margin-right: 10px;
}

.tile .cover{
  max-width: 125px;
  max-height: 175px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.tile .title{
  text-align: center;
    height: 2em;
}
